{% extends 'base.html.twig' %}

{% block title %}A propos de {{ speaker.name }}{% endblock %}
{% block body %}
    <h1 class="text-center text-white">A propos de <span class="red"> {{ speaker.name }}</span></h1>

    <div class="details">
    <div class="details_ctn">
        <img class="details_pix" src="{{ speaker.photo }}" alt="{{ speaker.name }}">
        <p class="details_info text-white" >{{ speaker.name }}, <span class="red"> {{ speaker.job }} </span></p>
    </div>

        <p class="description text-white">{{ speaker.description }} <br>
        {% if speaker.link %}
        <a href="{{ speaker.link }}" target="_blank">En savoir plus</a></p>
        {% endif %}
    </div>

{% endblock %}