{% extends 'base.html.twig' %}

{% block title %}Equipes{% endblock %}

{% block body %}
    <div class="talks_banner" xmlns="http://www.w3.org/1999/html">
        <h1 class="ptn_title">Equipes</h1>
    </div>
    <p class="ptn_subtitle"><span class="red bold">TEDx</span> QuaideSaintOuen existe grâce au travail et aux efforts
        collectifs de notre équipe.<br>
        Ensemble, nous créons des idées qui méritent d'être diffusées.</p>

    <div class="team_all">
        <div class="row">
            {% for category in categories|sort((a,b) => a.name > b.name ) %}
                <div class="row row-team">
                    {% for team in category.teams %}
                        <div class="team_ctn">
                            <a href="{{ team.link }}" target="_blank"><img src="{{ asset('uploads/files/' ~ team.photo) }}" alt="{{ team.name }}"></a>
                            <p class="team_name">{{ team.name }}</p>
                            <p class="team_job red bold">{{ team.job }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <br>
    </div>
{% endblock %}
